.groupsList{
 display: flex;
 /* border: solid black 2px; */
 width: fit-content;
 justify-content: center;
 align-items: center;
}

.groupsGridContainer{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-row: 200px;
    gap: 20px;
    justify-content: center;
    border-top: 2px solid #999999;
    border-bottom: 1px solid #999999;
    cursor: pointer;
}

.groupImages{
height: auto;
width: 300px;
margin-top: 10px;
margin-bottom: 10px;
}

.eventsprivateContainter{
    display: flex;
    gap: 10px;
    color: #999999

}

.groupName{
    font-size: x-large;
}

.groupLocation{
    color: #999999;
    font-size: large;
}

.groupTextContainer > div{
    margin-top: 10px;
margin-bottom: 10px;
}

.groupTextContainer{
    width: 60%;
}

.groupsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.linkOn{
    color: teal;
    text-decoration: underline;
    cursor: default;
    font-size: xx-large;
}

.linkOff{
    color: grey;
    text-decoration: none;
    cursor: pointer;
    font-size: xx-large;
}
.links{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.linkContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 440px;
    margin-top: 20px;
  }

  .groupsHeaderText{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: large;
    color: #999999;
  }
