
.groupDetailGridContainer{
    display: grid;
    grid-template-columns: 600px 300px;
    grid-row: 200px;
    gap: 20px;
    /* border-top: 2px solid #999999; */
    /* border-bottom: 1px solid #999999; */
    width: 97% ;
}

.groupDetailsEntireContainer{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
/* margin-left: 200px; */
width: 100%;
}


.groupDetailsImages{
    height: 400px;
    width: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.groupDetailsTextContainer > div{
    margin-top: 10px;
margin-bottom: 10px;
}
.groupDetailsTextContainer > div > button{
margin-top: 215px;
}

.groupDetailsButton{
 background-color: #FF5A5F;
 color: white;
 height: 50px;
 width: 200px;
 border: black 1px solid;
 box-shadow: 3px 4px 1px black;
 cursor: pointer;
}

.groupDetailsButtonGone{
    display: none;
}

.groupDetailsBottom {
    background-color: #CCCCCC
    ;
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* align-items: center; */
    justify-content: center;
    text-align: left;
    width: 97%;
  }

  .groupDetailsBottom > div {
    background-color: #CCCCCC

  }

  .groupDetailsBottom > div > div {
    background-color: #CCCCCC

  }

  .groupDetailsBottom > div > h2 {
    background-color: #CCCCCC

  }

  .groupOwnerButtons {
    background-color: #999999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 200px;
    height: 50px;
    cursor: pointer;
  }

  .groupEventDetailGridContainer{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-row: 200px 200px;
    gap: 20px;
    cursor: pointer;
    border: 1px grey solid;
    width: 100%;
    margin-bottom: 10px;
}

.groupEventImg{
    height: 175px;
    width: 250px;
}


.groupDetailsTime{
    display: flex;
    flex-direction: row;
    background-color: darkgray;
    gap: 5px    ;
    color: teal;
    font-size: larger;
}

.groupDetailsName{
    font-size: xx-large;
}

.groupDetailsLocation{
    font-size: large;
}

.groupDetailsEventsDescription{
    width: 600px;
    margin-bottom: 5px;
    margin-left: 20px;
    background-color: #CCCCCC
}

.groupDetailsHeader{
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap:5px ;
  width: 97%;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  flex-direction: column;
}

.modal-content {
  position: absolute;
  background-color: whitesmoke;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  text-align: center;
}


.modalButtons {
  display: flex;
  flex-direction: column;
}

.deleteButton {
  background: red;
  color: white;
  margin-right: 10px;
  border-radius: 5px;
  width: 300px;
  height: 50px;
  cursor: pointer;
  box-shadow: 5px 2px 2px black;
  margin-bottom: 10px;
}

.keepButton {
  background: darkgray;
  color: white;
  border-radius: 5px;
  width: 300px;
  height: 50px;
  cursor: pointer;
  box-shadow: 5px 2px 2px black;

}
