.groupsList{
 display: flex;
 /* border: solid black 2px; */
 width: fit-content;
 justify-content: center;
 align-items: center;
}

.groupsGridContainer{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-row: 200px;
    gap: 20px;
    justify-content: center;
    border-top: 2px solid #999999;
    border-bottom: 1px solid #999999;
    cursor: pointer;
}

.groupImages{
height: auto;
width: 300px;
margin-top: 10px;
margin-bottom: 10px;
}

.eventsprivateContainter{
    display: flex;
    gap: 10px;
    color: #999999

}

.groupName{
    font-size: x-large;
}

.groupLocation{
    color: #999999;
    font-size: large;
}

.groupTextContainer > div{
    margin-top: 10px;
margin-bottom: 10px;
}

.groupTextContainer{
    width: 300px;
}

.groupsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.linkOn{
    color: teal;
    text-decoration: underline;
    cursor: default;
    font-size: xx-large;
}

.linkOff{
    color: grey;
    text-decoration: none;
    cursor: pointer;
    font-size: xx-large;
}
.links{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.linkContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 440px;
    margin-top: 20px;
  }

  .groupsHeaderText{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: large;
    color: #999999;
  }

  .groupFormContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px black solid; */
    width:60%;
    margin-left: 250px;
    padding-bottom: 100px;
  }

  .groupFormErrors{
    color: red;
    margin-bottom: 5px;
  }

  .locationInput{
    width: 300px;
    margin-right: 25px;
    margin-bottom: 10px;
    background-color: #E8F0FE;
  }

  .groupNameInput{
    width: 300px;
    margin-bottom: 10px;
    background-color: #E8F0FE;
  }

  .groupDescriptionInput{
    width: 400px;
    height: 150px;
    margin-bottom: 10px;
    resize: none;
    background-color: #E8F0FE;
  }
  .groupTypeSelectSection{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px   ;
  }

  .groupTypeSelect{
    width: 100px;
    background-color: #E8F0FE;
  }
  .groupImageInput{
    width: 300px;
    background-color: #E8F0FE;
  }

  .createGroupButton{
    width: 150px;
    background-color: #FF5A5F;
    color: white;
    height: 40px;
    box-shadow: 5px 2px 2px black;
  }

  .addALineUnderneatch{
    border-bottom: 2px grey solid;
  }

  /* .groupAboutList{

  } */
