
.groupDetailGridContainer{
    display: grid;
    grid-template-columns: 600px 300px;
    grid-row: 200px;
    gap: 20px;
    /* border-top: 2px solid #999999; */
    border-bottom: 1px solid #999999;
}

.groupDetailsEntireContainer{
display: flex;
flex-direction: column;
/* justify-content: center; */
/* align-items: center; */
margin-left: 200px;
}


.groupDetailsImages{
    height: 400px;
    width: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.groupDetailsTextContainer > div{
    margin-top: 10px;
margin-bottom: 10px;
}
.groupDetailsTextContainer > div > button{
margin-top: 215px;
}

.groupDetailsButton{
 background-color: #FF5A5F;
 color: white;
 height: 50px;
 width: 200px;
 border: black 1px solid;
 box-shadow: 3px 4px 1px black;
 cursor: pointer;
}

.groupDetailsButtonGone{
    display: none;
}

.groupDetailsBottom {
    background-color: #CCCCCC
    ;
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* width: 1000px */
  }

  .groupDetailsBottom > div {
    background-color: #CCCCCC

  }

  .groupDetailsBottom > div > div {
    background-color: #CCCCCC

  }

  .groupDetailsBottom > div > h2 {
    background-color: #CCCCCC

  }

  .groupOwnerButtons {
    background-color: #999999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 200px;
    height: 50px;
    cursor: pointer;
  }

  .groupEventDetailGridContainer{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-row: 200px 200px;
    gap: 20px;
    cursor: pointer;
    border: 1px grey solid;
    width: 650px;
    margin-bottom: 10px;
}

.groupEventImg{
    height: 175px;
    width: 250px;
}


.groupDetailsTime{
    display: flex;
    flex-direction: row;
    background-color: darkgray;
    gap: 5px    ;
    color: teal;
    font-size: larger;
}

.groupDetailsName{
    font-size: xx-large;
}

.groupDetailsLocation{
    font-size: large;
}

.groupDetailsEventsDescription{
    width: 600px;
    margin-bottom: 5px;
    margin-left: 20px;
    background-color: #CCCCCC
}

.groupDetailsHeader{
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap:5px 
}
