.eventsGridContainer{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-row: 200px;
    gap: 20px;
    justify-content: center;
    border-top: 2px solid #999999;
    border-bottom: 1px solid #999999;
    cursor: pointer;
}

.eventImages{
    width: 300px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    object-fit: cover;
}

.eventName{
    font-size: x-large;
}

.eventLocation{
    color: #999999;
    font-size: large;
}

.eventTextContainer > div{
    margin-top: 10px;
margin-bottom: 10px;
}

.eventTextContainer{
    width: 60%;
}

.eventsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eventTime{
    display: flex;
    flex-direction: row;
    gap: 5px    ;
    color: teal;
    font-size: larger;
}

.eventDescription{
    width: 500px;
    margin-bottom: 5px;
}

.eventLinksContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 440px;
    margin-top: 20px;
  }

  .eventsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eventLinks{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.eventsHeaderText{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: large;
    color: #999999;
  }

  .eventDetailsTime{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

  }

.eventsDetailsGridContainer{
    display: flex;
    width: 95%;
    gap: 40px;
    margin-top: 30px;
}

  .eventDetailsGridImage{
    height: 400px;
    width: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    object-fit: cover;
  }
  .eventDetailsGroupDetails{
    width: 300px;
    height: 130px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: white; 
    border-radius: 10px;
    padding-left: 25px; 
    align-items: center;
    cursor: pointer;
  }
  .eventDetailsGroupDetails > *{
    background-color: white;     
  }
  .eventDetailsGroupDetails > * > *{
    background-color: white;     
  }

  .eventDetailsGroupDetails > * > * >{
    background-color: white;     
  }
  .eventDetailsGridDetails{
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    font-size: large;
    margin-top: 50px;
    gap: 15px ;
    background-color: white;
    border-radius: 10px;
    padding-left: 25px;
    justify-content: center;
  }

  .eventDetailsGridDetails > * {
    background-color: white;
  }
  .eventDetailsGridDetails > * > *{
    background-color: white;
  }

  .eventDetailsGridDetails > * > * > * {
    background-color: white;
  }

  .rightHandContainer{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;      

}

.eventDetailsGroupImage{
    width: 100px;
    height: 100px;
    object-fit: cover;
}


.eventDetailsTimes{
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .eventDetailsBottom{
    width: 93%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 40px;
    margin-top: 20px;
    gap: 10px;
  }

  .eventDetailsContainerPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .eventDetailsGroupDetailsText > div{
        margin-bottom: 15px;
  
  }

  .eventDetailsHeader{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    background-color: white;
    width: 93%;
    height: 90px;
    gap: 10px;
  }

  .eventDetailsHeader > div {
    background-color: white;
  }
  .eventDetailsHeader > div > i{
    background-color: white;
  }
  .eventDetailsHeader > div > a {
    background-color: white;
    color: teal;
  }
  .eventDeleteButton{
    background-color: darkgray;
    margin-right: 20px;
    box-shadow: 5px 2px 2px black;
  }

  .eventDeleteButtonContainer{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .eventDetailsType{
    display: flex;
    justify-content: space-between;
  }

.eventsFormContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* border: 2px black solid; */
  width: 80%;
  margin-left: 300px;
  padding-bottom: 100px;
}

.eventsFormSections{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 2px grey solid;
  padding-bottom: 10px;
  margin-top: 10px;
  width: 60%;
}

.eventsFormInputText{
  width: 300px;
  margin-bottom: 10px;
  background-color: #E8F0FE;
}

.eventsFormSelection{
  width: 100px;
  margin-bottom: 10px;
  background-color: #E8F0FE;
}

.eventsFormPrice{
  width: 75px;
  margin-bottom: 10px;
  background-color: #E8F0FE;
}

.eventsFormDate{
  width: 150px;
  margin-bottom: 10px;
  background-color: #E8F0FE;
  margin-right: 10px;
}

.eventsFormDescription{
  width: 400px;
  margin-bottom: 10px;
  background-color: #E8F0FE;
  resize: none;
  height: 150px;
}
.eventsFormDateDiv{
display: flex;
flex-direction: row;
}

.priceInputContainer{
  display: flex;
  align-items: center;
}
