.header{
cursor: pointer;
background-color: whitesmoke;
margin-left: 50px;
color: #FF5A5F;
}

.headerContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid grey;
}

.headerLink{
text-decoration: none;
color: teal;
font-weight: bolder;
display: flex;
justify-content: flex-end;
}
.profileButtonAndLink{
    display: flex;
    align-items: center;
}
