.hidden{
    display: none;
}

.profile-dropdown{
    list-style-type: none;
}

.buttonsForProfile{
    border: black 2px solid;
    cursor: pointer;
}

.userList{
    list-style: none;
    background-color: lightgreen;
    margin-right: 50px;
}
