.hidden{
    display: none;
}

.profile-dropdown{
    list-style-type: none;
    position: absolute;
    border: 2px solid black;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    /* right: 100px */
}

.buttonsForProfile{
    border: black 2px solid;
    cursor: pointer;
}

.userList{
    list-style: none;
    background-color: whitesmoke;
    margin-right: 100px;
    display: flex;
    gap: 10px;
}

.userIcon{
    font-size: 24px;
}
.roundedButton{
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 10px   ;
    cursor: pointer;
}

/* .userLogin-Signup{
    border: 1px solid #ccc;
    background-color: cyan;
} */
