
.loginTitle{
    display: flex;
    justify-content: center;
    font-size: x-large;
}

.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-top: 10px;
    background-color: #E8F0FE;
    height: 20px;
    width: 200px;
}

.loginButton{
    flex-direction: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    height: 45px;
    width: 200px;    
    background-color: #FF5A5F;
    color: white;
}

.loginButtonDemo{
    flex-direction: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    height: 45px;
    width: 200px;    
    background-color: #FF5A5F;
    color: white;
}

.loginStyle{
    border-radius: 25px;
    padding: 10px 20px;
    background-color: whitesmoke;
}
